@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
}

.flex {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.blue-gradient {
    background: linear-gradient(90.57deg, #2E4CEE 9.91%, #221EBF 53.29%, #040F75 91.56%);
}

.purple-gradient {
    background: linear-gradient(90.57deg, #628EFF 9.91%, #8740CD 53.29%, #580475 91.56%);
}

.pink-gradient {
    background: linear-gradient(90.57deg, #E948C5 9.91%, #CD407B 53.29%, #75042D 91.56%);
}

.login-card {
    h1 {
        font-weight: bold;
    }
    height: 700px;
    border: 1px solid rgba(255,255,255, 0.6);
    width: 25vw;
    border-radius: 20px;
    padding: 40px;
    padding-bottom: 50px;
    gap: 25px;
    .icons {
        img {
            margin: 0 5px;
            height: 35px;
            width: 35px;
        }
    }
    #or {
        color: rgba(77, 77, 77, 1);
        position: relative;
        width: 300px;
        height: 50px;
        
        line-height: 50px;
        text-align: center;
    }
    
    #or::before,
    #or::after {
        position: absolute;
        width: 130px;
        height: 1px;
        
        top: 24px;
        
        
        background-color: rgba(77, 77, 77, 1);
        
        content: '';
    }
    
    #or::before {
        left: 0;
    }
    
    #or::after {
        right: 0;
    }
    .login-fields {
        width: 100%;
        gap: 15px;
        border-radius: 12px;
        label {
            margin-left: 10px;
        }
        button {
            margin-top: 10px;
            border-radius: 12px;
            cursor: pointer;
            height: 55px;
            width: 100%;
            font-weight: bold;
            font-size: 20px;
            outline: none;
            border: none;
        }
    }
    input {
        padding: 14px 16px;
        background-color: transparent;
        outline: none;
        border: 1px solid white;
        border-radius: 12px;
    }
    input::placeholder {
        color: white;
    }

    .links {
        margin-top: auto;
        width: 100%;
        gap: 15px;
        justify-content: space-between;
    }
}

.text-center {
    width: 100%;
    text-align: center;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.login-container {
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.flip {
    transform: rotate(180deg);
}

.top-left, .top-right, .bottom-left, .bottom-right {
    position: absolute;
    width: 200px;
    height: auto;
    overflow: hidden;
}

.top-left {
    top: -20px;
    left: -20px;
}
.top-right {
    top: -20px;
    right: -20px;
}
.bottom-left {
    bottom: -20px;
    left: -20px;
}
.bottom-right {
    bottom: -20px;
    right: -20px;
}

.space-between {
    justify-content: space-between;
}


img {
    max-width: 100%;
    max-height: 100%;
}