.grid {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

#feature-section {
    padding: 40px 0;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        text-align: center;
        h1 {
            font-weight: bold;
        }
    }
}