#footer {
    font-size: 1.2rem;
    padding: 20px;
    justify-content: space-evenly;
    background-color:rgba(0, 0, 0, 0.69);
    align-items: center;
    display: flex;
    .footer-column{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }
    .footer-title{
        font-weight: bold;
        margin-bottom: 10px;
    }
    .footer-column {
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}