@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    color: white;
    --pink: rgba(197, 5, 154, 1);
    --card-bg:rgba(26, 32, 44, 1); 
}


#main-container {
    background: radial-gradient(
        ellipse at 25% 50%,  /* Centering the gradient */
        #0a1626 10%,         /* Dark center */
        #152c4d 30%,         /* Medium blue for diamond border */
        #0f243b 50%,         /* Darker shade transitioning inward */
        #152c4d 70%,         /* Another medium blue for the outer part of the diamond */
        #0a1626 100%         /* Darker corners */
    );
}
